.container-homepage{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 15rem;
    margin: -3rem 0 0 0;
}

.text-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-text{
    color: rgb(0, 0, 0);
    font-size: 3rem;
}

.job-text{
    color:rgb(42, 187, 244);
    font-size: 4rem;
}

.sub-text{
    color: rgb(183, 184, 186);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
